#add-menu {
  background-color: #FF867E;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.5);
  max-width: 500px;
}

form {
  text-align: center;
}

form > div > label {
  font-size: 1.7em;
  font-weight: 600;
}
/*
form > div > input,
form > div > textarea {
  background-color: #FCC3BF;
  box-shadow: inset 0px 4px 4px hsla(0, 0%, 0%, 0.250);
  max-width: 250px;
}*/

.basic-form {
  background-color: #FCC3BF;
  border: 2px solid #f8665c;
  box-shadow: inset 0px 4px 4px hsla(0, 0%, 0%, 0.250);
}

.is-invalid {
  border: 2px solid red;
}

.flex-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
