#login-menu {
  background-color: #FF867E;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.5);
}

form {
  text-align: center;
}

form > div > label {
  font-size: 1.7em;
  font-weight: 600;
}

.basic-form {
  background-color: #FCC3BF;
  border: 2px solid #f8665c;
  box-shadow: inset 0px 4px 4px hsla(0, 0%, 0%, 0.250);
}

.is-invalid {
  border: 2px solid red;
}

@media screen and (min-width : 580px) {
  #login-menu {
    width: 500px;
  }
}
