<div class="container-fluid">
  <div class="row justify-content-between mb-5">
    <div class="col text-start p-4">
      <a routerLink="/" class="text-dark text-decoration-none h4"><strong>Back</strong></a>
    </div>
    <div class="col text-end p-4">
      <a routerLink="/login" class="text-dark text-decoration-none h4"><strong>Login</strong></a>
    </div>
  </div>
  <div id="reg-menu" class="container">
    <form [formGroup]="regForm" class="p-4 text-align-center">
      <p class="h1">Sign Up</p>
      <br>
      <div class="row mb-4 mt-3">
        <div class="col-md-6" >
          <label for="username" class="form-label">Username</label>
          <input type="text" name="username" id="username" placeholder="Your username..."
          class="form-control col-6 basic-form " [ngClass]="{'is-invalid' : fieldNotValid[0]}" formControlName="name" required>
          <div class="invalid-feedback h3">{{fieldNotValid[0]}}</div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-6">
          <label for="password" class="form-label">Password</label>
          <input  type="password" name="password" placeholder="Your password..." id="password"
          class="form-control basic-form " [ngClass]="{'is-invalid' : fieldNotValid[1]}" formControlName="password" required>
          <div class="invalid-feedback h3">{{fieldNotValid[1]}}</div>
        </div>
        <div class="col-md-6">
          <label for="passagain" class="form-label">Password Again</label>
          <input type="password" name="passagain" placeholder="Your password again..." id="passagain"
          class="form-control basic-form" [ngClass]="{'is-invalid' : fieldNotValid[2]}" formControlName="passwordAgain" required>
          <div class="invalid-feedback h3">{{fieldNotValid[2]}}</div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" placeholder="Your email@email.com..." id="email"
          class="form-control basic-form" [ngClass]="{'is-invalid' : fieldNotValid[3]}" formControlName="email" required>
          <div class="invalid-feedback h3">{{fieldNotValid[3]}}</div>
        </div>
        <div class="col-md-6">
          <label for="emailagain" class="form-label">Email Again</label>
          <input type="email" name="emailagain" placeholder="Your email@email.com again..." id="emailagain"
          class="form-control basic-form" [ngClass]="{'is-invalid' : fieldNotValid[4]}" formControlName="emailAgain" required>
          <div class="invalid-feedback h3">{{fieldNotValid[4]}}</div>
        </div>
      </div>
      <div class="row mb-4 mt-3">
        <div class="col-md-6" >
          <label class="form-label">Gender</label>
          <div class="row">
            <div class="col-6">
              <input type="radio" name="gender" value="male" formControlName="gender">
              <span class="medium-font"> Male</span>
            </div>
            <div class="col-6">
              <input type="radio" name="gender" value="female" formControlName="gender" checked>
              <span class="medium-font"> Female</span>
            </div>
          </div>
        </div>
      </div>
      <br>
      <input type="button" value="Sign Up" class="btn-lg btn-success mb-4" (click)="signUp()" >
    </form>
  </div>
</div>
